.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.image{
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 20px;
}

.dice {
  text-align: center;
  display: inline-block;
}

.btn{
  background-color: #4ECCA3;
  border: solid;
  color: darkred;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  display: block;
  margin:0 auto;
  border-radius: 50%;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
